
h1 {
    color: red;
    text-align: center;
}

header, nav, section, footer {
    margin: 0 auto 0 auto;
    width: 950px;
    text-align: center;
}

header {
    height: 200px;
    background: url('images/banniere.png') no-repeat scroll center 0;
}


nav {
    margin-top: 178px;
    width: 99%;
    float: left;
}

nav li {
    display:inline;
    font-size: 150%;
}

nav li a {
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    color: black;
    background-color: white;
}


footer {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background-color:#2d2d2d; /*Couleur de fond*/
    color: #bbb;
    text-align:center;/*texte centré*/
}

footer p{
    margin-top: 3px;
    color: #bbb;
}

footer a{
    color: #bbb;
}

@font-face{ 
    font-family: "Fuse";
    src: url('polices/FUSENORM.TTF') format("truetype");
}




/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 avr. 2017, 14:38:25
    Author     : thomas.cianfarani
*/

.modele {
    width: 29%;
    float: left;
    margin: 5px 2px 15px 1%;
}

#estimation {
    margin: 10px auto 10px auto;
    width: 0%;
}

legend {
    font-weight: bold;
}

#btnEstimer {
    margin-top: 22px;
}

#lgdSim{
    font-size: 28px;
}

#i_kilometres {
    margin-top: 15px;
}


@media (max-width:1000px) and (min-width:480px) {
    header { background-image: none; width: auto; margin: 0; height: 160px;}
    nav { margin-top: 0;}
    
 nav ul { margin-left: 0; margin-top: 0; padding-left: 0;} /* cette partie c'est pour controler le menu */
 nav li a { display: block;
   margin-top: 1px;
   height: 25px;
   padding: 1px;}
   #formulaire { margin-top: -100px;
     }
 
     

}